[project]
	description = RESTFul WS with AngularJS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group hrmDevelopers
	owner = group user/Hasan Çomak (entrofi)
[access "refs/for/refs/*"]
	read = group hrmDevelopers
	read = group user/Hasan Çomak (entrofi)
	push = group hrmDevelopers
	push = group user/Hasan Çomak (entrofi)
	label-Code-Review = -2..+2 group hrmDevelopers
	label-Code-Review = -2..+2 group user/Hasan Çomak (entrofi)
	label-Verified = -1..+1 group hrmDevelopers
	label-Verified = -1..+1 group user/Hasan Çomak (entrofi)
	rebase = group user/Hasan Çomak (entrofi)
	removeReviewer = group hrmDevelopers
	removeReviewer = group user/Hasan Çomak (entrofi)
	submit = group hrmDevelopers
	submit = group user/Hasan Çomak (entrofi)
[access "refs/heads/*"]
	read = group hrmDevelopers
	read = group user/Hasan Çomak (entrofi)
	create = group hrmDevelopers
	create = group user/Hasan Çomak (entrofi)
	push = group hrmDevelopers
	push = +force group user/Hasan Çomak (entrofi)
	pushMerge = group hrmDevelopers
	pushMerge = group user/Hasan Çomak (entrofi)
[access "refs/tags/*"]
	push = group hrmDevelopers
	push = group user/Hasan Çomak (entrofi)
	push = +force group user/Hasan Çomak (entrofi)
