<section id="useredit-view" class="container-fluid">

    <h1>Idea edit</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-8">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" data-ng-model="vm.user.name" class="form-control">
                </div>
            </div>
            <div class="col-md-4 col-sm-8">
                <div class="form-group">
                    <label>Surname:</label>
                    <input type="text" data-ng-model="vm.user.surname" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-8">
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" ng-model="vm.user.username" class="form-control">
                </div>
            </div>
            <div class="col-md-4 col-sm-8">
                <div class="form-group">
                    <label>email:</label>
                    <input type="text" ng-model="vm.user.email" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-8">
                <div class="form-group">
                    <label>password:</label>
                    <input type="text" ng-model="vm.user.password" class="form-control">
                </div>
            </div>
            <div class="col-md-4 col-sm-8">
                <div class="form-group">
                    <label>confirm password:</label>
                    <input type="text" ng-model="vm.user.passwordConfirm" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="checkModel.left" uib-btn-checkbox>Save</label>

                <label class="btn btn-danger" ng-model="checkModel.right" uib-btn-checkbox>Cancel</label>
            </div>
        </div>
    </div>
    <div class="table">
        <div class="table-cell">User:{{vm.user.name}} {{vm.user.surname}}</div>
    </div>
</section>
