<section id="useredit-view" class="container-fluid">

    <h1>Idea edit</h1>
    <h4>Dynamic</h4>
    <div class="form-group">
        <label>Name:</label>
        <input type="text" ng-model="vm.user.name" class="form-control">
    </div>
    <div class="form-group">
        <label>Surname:</label>
        <input type="text" ng-model="vm.user.surname" class="form-control">
    </div>
    <div class="form-group">
        <label>Username:</label>
        <input type="text" ng-model="vm.user.username" class="form-control">
    </div>
    <div class="table">
        <div class="table-cell">User:{{vm.user.name}} {{vm.user.surname}}</div>
    </div>
</section>
